body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.container {
    max-width:700px;
}

.alert {
    margin-bottom:0px;
}

#messages {
    margin-top:10px;
}

.message {
    display: block;
    margin: 0;
}

.user h2 {
    margin:0 0 10px 0;
    float:left;
}

.wish .proposedBy {
    border:1px solid #ffaeae;
}

.wish .proposedByText {
    color: #d9534f;
    font-size:10px;
    line-height:20px;
}

.wish strong {
    line-height:20px;
}

.wish .comments {
}

.wish .comments h3 {
    font-size:14px;
    font-weight:bold;
}

.wish .buttons {
    margin-bottom:15px;
}

.wish .comments .comment {
    margin-bottom:8px;
}

.wish .comments .comment .commentCreatorName {
    color:#333;
    font-weight:bold;
    font-size:12px;
}

.wish .comments .comment .commentText {
    font-size:12px;
}

.wish .commentForm {

}

.user .newWish {
    display:inline-block;
    margin-left:10px;
    font-size:11px;
    color:#666;
    cursor: pointer;
}

.wish h3 {
    margin-top:0px;
}

.wish .description {
    margin-bottom:10px;
}

.wish .bought {
    padding:5px;
    color:#fff;
    font-size:11px;
    background-color:#66a466;
}

#changeView textarea {
    height:180px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

