<div id="list">
    <h1>List</h1>
    <div ng-repeat="person in grouped">
        <h2>{{person.userName}}</h2>
        <span ng-click="addWish(person._id)">neuer wish</span>
        <hr>
        <div ng-repeat="wish in person.wishes">
            <h3>{{wish.title}}</h3>
            <p>{{wish.description}}</p>

            <div ng-show="wish.isOwn">
                <button value="edit" ng-click="edit(person._id, wish._id)">edit</button>
                <button value="delete" ng-click="delete(person._id, wish._id)">delete</button>
            </div>

            <div ng-hide="wish.isOwn">
                <div ng-hide="wish.bought">
                    <button value="bought" ng-click="bought(person._id, wish._id)">bought</button>
                </div>
            </div>

        </div>
    </div>
</div>