<!doctype html>

<html ng-app="wichtly">
    <head>
        <meta charset="utf-8" />
        <title>Wichtly</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
        <script src="/js/app.js" type="text/javascript"></script>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="loginForm" ng-controller="loginController">
            <h1>Login</h1>
            E-Mail: <input type="text" name="email"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit" value="send">
        </div>

        <div id="changeView" ng-controller="detailController">
            <h1>Detail</h1>
            Headline:<input type="text" name="headline"><br>
            Text: <textarea name="text"></textarea>
        </div>

        <div id="list" ng-controller="wishListController">
            <h1>List</h1>
            <div ng-repeat="person in grouped">
                <h2>{{person.name}}</h2>

                <div ng-repeat="wish in person.wishes">
                    <h3>{{wish.headline}}</h3>
                    <p>{{wish.text}}</p>
                    <button value="edit">edit</button> <button value="delete">delete</button> <button value="bought">bought</button>
                </div>
            </div>
        </div>
    </body>
</html>